
.p-messages .input-group {
    padding-right: 5px;
    font-family: 'FontAwesome';  
    
}

.p-messages .input-group>.form-control {

    font-family: 'FontAwesome';   
    width: 500px;
}

.p-messages .input-group-text {
    border: none;
    background-color: transparent;
}

.p-messages .label.input-group-text {
    padding-left: 0;
    margin-left: 0;
}
.p-messages .input-group-text {
    padding-right: 3px;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.p-messages .new-message-btn {
    
    padding-right: 20px;;
    color: blue; 
    text-decoration: underline;      
}

.p-messages .title {
    background-color: red;
}

.p-messages .search-icon {
    position: absolute;
   left: 10px;
   top: 10px;
   color:grey;
   z-index: 10;    
}

.p-messages .flter-bar{
    padding-left: 30px;
    
}