
.p-signup form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px; 
    margin-top: 20px;
    
}

.p-signup > h1 {

    text-align: center;
    margin-top: 10px;
    
}
.alert-danger {
    margin-bottom: 5px;
    padding: 5px;
    
}

.signup-alert {
    
   text-align: center;

}






