

.c-message {
    
    border: 2px solid;
    
}

.c-message img {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
    /* border: solid; */

}

.c-message .card-body {
    
    position: relative;
    height: 100%;
    margin: 0;
    
  
    /* border: solid; */
    
}


.c-message button {
    margin-right: 5px;
}

.c-message .details {
    height: 70%;
    /* border:solid; */
}

.c-message .title {
    display: flex; 
    position: relative;
    /* background-color: transparent; */
    background-color: lightblue;    
}



.c-message .title .title-text {
    color:black;
}

 .icon {
    position: absolute;
    right:10px;
}
.preview {
    height: 150px;
    
}



.c-message .x-accordion-toggle.collapsed {
    color:#fff !important;
    background-color: #333 !important;
}

.c-message .show-button {
    visibility: visible;
}


.c-message .hide-button {
    visibility: hidden;
}
