

.c-message {
    
    border: solid;
   
}
.c-message img {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
    /* border: solid; */

}

.c-message .card-body {
    
    position: relative;
    height: 100%;
    margin: 0;
    padding-left: 40px;
    border: solid;
    
}

/* .c-message .tenant-options {

   padding-right: 15px;       
    justify-content: flex-end;
    align-items: flex-end;
    height: 240px;   
       
} */

.c-message button {
    margin-right: 5px;
}

.c-message .details {
    height: 60%;
    border:solid;
}